.mg-upload{
    &-info {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 24px;
        padding: 0 12px;
        justify-content: space-between;
        box-sizing: border-box;

        &-title,
        &-speed,
        &-control {
            align-self: center;
            font-size: 12px;
        }

        &-speed {
            display: flex;
            align-items: center;
            user-select: none;
        }

        &-control {
            display: flex;
            align-items: center;
            cursor: pointer;

            &-item+&-item {
                margin-left: 6px;
            }
        }
    }
    &-list{
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 64px;
        margin-bottom: 12px;
        box-sizing: border-box;
        transition: all 0.5s ease;
    }
    &-end {
        height: 24px;
        .mg-upload-info{
            &-title,
            &-speed,
            &-control {
                font-size: 14px;
            }
        }
    }
}
